/*----------------*/
/* B2C Storefront */
/*----------------*/

//Hide opt-in section on checkout page
div.opt-in
    display: none

//Caps on all buttons
.btn
    text-transform: uppercase

//Force border radius on all amount and category buttons
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
.btn-group>.btn:last-child:not(:first-child),
.btn-group>.btn-group:last-child>.btn:first-child,
.btn-group>.btn-group:first-child>.btn:last-child,
.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn
    border-radius: $default-border-radius

//Hide empty cart image
#mainContent.cart.container div#empty-cart-page.row div.col-xs-12.col-sm-3
    display: none

//Card thumbnail fix for darker colored backgrounds
.thumbnail
    background-color: transparent

//Hide card type line item for bonus cards on cart page
div#mainContent.cart.container div.row div.col-sm-9 form div.section-block div.section-details.col-xs-12.col-sm-5 div table tbody tr:nth-child(2)
    display: none

//Hide flag icons on language menu
//---Only apply to multi-language stores---
.header-menu ul.navbar-nav li:first-child a.change-language img
    display: none

//Adjust logo for mobile widths
//---YMMV, adjust the logo parameters and screen widths (adding more, if needed) as you need---
@media screen and (min-width:371px) and (max-width:767px)
    .navbar-brand
        background-size: 200px auto
        width: 200px
        height: 56px

@media screen and (max-width:370px)
    .navbar-brand
        background-size: 150px auto
        width: 150px
        height: 42px

//Adjust footer text for smaller screens
//---YMMV, adjust the screen widths and font sizes to optimize as needed for your implementation---
footer
    span.copyright-text, span.help-msg-text a
        @media screen and (min-width: 347px) and (max-width: 459px)
            font-size: 10px
        @media screen and (max-width: 346px)
            font-size: 8px

//Custom background image for body - applies to B2C and B2B and assumes you are given an image that is to be tiled/repeated across the background
//---YMMV, adjust color, image name, and image size to specs for your image
//color is the hex code of whatever color to be displayed while the image is loading or if it can't be loaded for any reason
//image size is in pixels width first, then height.
//E.g. The example below is for an image that is 1200 pixels wide by 800 pixels high, adjust accordingly.
body
    background: #f5f5f5 url("../images/your_bg_image_here.png") left top/1200px 800px repeat !important

//Custom header image - change image name to your image.
//This will apply a background image that stretches across the header responsively
.navbar-inverse
    background-image: url("../images/your_header_image_here.png")
    background-size: auto
    background-repeat: no-repeat

//Custom footer image - same rules of the header image apply here.
.footer-banner
    background-image: url("../images/your_footer_image_here.png")
    background-size: auto
    background-repeat: no-repeat

/*--------------------------*/
/* Responsive Balance Check */
/*--------------------------*/

//Hide email field on balance check page
#balance-check-page .contact-info .col-xs-12
    display: none

/*--------------------*/
/* Responsive Tracker */
/*--------------------*/

//Hide contact us section on tracker page
.container.track .row.combo-box .section.col-xs-12.col-sm-6.hidden-xs:nth-child(3),
#tw-menu .navbar-nav .contact-us-btn,
.container.track div.contact-us.hidden-xs,
.contact-us.hidden-xs
    display: none

/*----------------*/
/* B2B Storefront */
/*----------------*/

//Adjust top margin on b2b pages to accommodate for larger header
//---YMMV, adjust the margin amount to optimize as needed for the merchant's logo---
body > form > div.container, body > div.container
    margin-top: 50px

//Hide registration messaging on confirmation page
#register_sent_page .banner-message
    display: none

//Alternate b2b margin top, might also affect b2c?
body > form > div.container, body > div.container
    margin-top: 85px

//Registration page checkbox fix - only needed for short labels, if the label extends two lines or more this is not needed
#register_page #terms-section > div > label[for="tandc"]
    display: block

//List of all B2B page IDs - useful for custom B2B logos or custom cart configuration in header
#b2b_login_page, #register_page, #register_sent_page, #reset_password_page, #choose_personalize_page, #cart_page, #history_page, #checkout_page, #thankyou_page, #account_page

/*-------------------------------------*/
/* 'Dark Mode' adjustments - i.e. dark */
/*  backgrounds with light text        */
/*-------------------------------------*/
//Example stores -- Xanterra, Vudu, ***FIND MORE***
//Highlight changes between dark vs light body and dark vs light preview box, don't forget differences on mobile views...

//Future section - dark mode emails?

//preview section subtitle - line 283 of page.sass, add the following color parameter
.previewContainer .subTitle, .twSectionSidebar .subTitle, .container.checkout .twSectionSidebarWrapper > .subTitle
    color: $preview-font-color
